<div class="explorer-root">

    <div class="explorer-columns">

        <div class="explorer-actions">
            <span >FDC3 ViewChart</span>
            <div *ngFor="let item of stockItems"
                (click)="ViewChart(item.symbol)"   >
                <div>
                    <span class="button" igxButton="raised" igxButtonBackground="dodgerblue">
                        <span class="button-text">{{ item.symbol }}</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="explorer-actions">
            <span >FDC3 ViewInstrument</span>
            <div *ngFor="let item of stockItems"
                (click)="ViewInstrument(item.symbol)">
                <div>
                    <span class="button" igxButton="raised" igxButtonBackground="yellowgreen">
                        <span class="button-text">{{ item.symbol }}</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="explorer-actions">
            <span >FDC3 ViewPosition</span>
            <div *ngFor="let item of stockItems"
                (click)="ViewPosition(item.symbol)">
                <div>
                    <span class="button" igxButton="raised" igxButtonBackground="orange">
                        <span class="button-text">{{ item.symbol }}</span>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="explorer-history">
        <span >FDC3 Message History:</span>
        <div #messageHistory class="explorer-info"></div>
    </div>

</div>



<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

