/* this CSS defines dark theme for React Financial Chart */

/* to view/edit this file, I recommend installing this extension:
- Color Picker https://marketplace.visualstudio.com/items?itemName=anseki.vscode-color
*/

.ChartTheme {
    /* igr-financial-chart { */


        /* zoom-slider's basic variables */
        --color_semitransparent: rgba(255, 255, 255, 0.06);
        --color_transparent: rgba(255, 255, 255, 0);
        --color_001: #FFFFFF;
        --color_002: #1E1E1E;
        --color_003: #333333;
        --color_004: #AAAAAA;
        --color_005: #444444;
        --color_006: #888888;
        --color_007: #212121;
        --color_008: #272727;
        --color_009: #1B1B1B;
        --color_010: #4F4F4F;
        --color_011: #58358B;  /* accent color for SELECTED/PRESSED/CHECKED elements*/
        --color_012: #777777;
        --color_014: #2D2D2D;
        --color_015: #3C3C3E;
        --color_016: #DDDDDD;
        --color_017: #666666;
        --color_018: #191919;
        --color_019: #C62828;  /* accent color for ERRORS/NEGATIVE elements*/

        /* range colors; */
        --color_030: #5A3692;
        --color_031: #6E42B2;
        --color_032: #855DC3;
        --color_033: #9F7FCF;
        --color_034: #B59DDB;
        /* series colors; */
        --color_020: rgba(116, 70, 185, 1.0); /* #7446B9; */
        --color_021: rgba(159, 179, 40, 1.0); /* #9FB328; */
        --color_022: rgba(249, 98, 50, 1.0);  /* #F96232; */
        --color_023: rgba(46, 156, 166, 1.0); /* #2E9CA6; */
        --color_024: rgba(220, 63, 118, 1.0); /* #DC3F76; */
        --color_025: rgba(255, 152, 0, 1.0);  /* #FF9800; */
        --color_026: rgba(63, 81, 181, 1.0);  /* #3F51B5; */
        --color_027: rgba(67, 156, 71, 1.0);  /* #439C47; */
        --color_028: rgba(121, 85, 72, 1.0);  /* #795548; */
        --color_029: rgba(154, 154, 154, 1.0);/* #9A9A9A; */
        /* fill colors similar to above colors but with 30% opacity */
        --fills_020: rgba(116, 70, 185, 0.3); /* #7446B9; */
        --fills_021: rgba(159, 179, 40, 0.3); /* #9FB328; */
        --fills_022: rgba(249, 98, 50, 0.3);  /* #F96232; */
        --fills_023: rgba(46, 156, 166, 0.3); /* #2E9CA6; */
        --fills_024: rgba(220, 63, 118, 0.3); /* #DC3F76; */
        --fills_025: rgba(255, 152, 0, 0.3);  /* #FF9800; */
        --fills_026: rgba(63, 81, 181, 0.3);  /* #3F51B5; */
        --fills_027: rgba(67, 156, 71, 0.3);  /* #439C47; */
        --fills_028: rgba(121, 85, 72, 0.3);  /* #795548; */
        --fills_029: rgba(154, 154, 154, 0.3);/* #9A9A9A; */

        /* variables shared between custom properties */
        --PositiveBrushes: var(--color_020), var(--color_021), var(--color_023), var(--color_026), var(--color_027), var(--color_029);
        --OverlayBrushes:  var(--fills_020), var(--fills_021), var(--fills_023), var(--fills_026), var(--fills_027), var(--fills_029);
        --NegativeBrushes: var(--color_019);
        --BackgroundBrush: rgb(25, 25, 25);
        --ForegroundBrush: rgba(255, 255, 255, 0.9);

        /* variables shared between multiple custom CSS properties */
        --ColorSeries: var(--color_020), var(--color_021), var(--color_022), var(--color_023), var(--color_026), var(--color_027), var(--color_029);
        --ColorBackground: #1E1E1E;
        --ColorAxisLines:  #666666;
        --ColorAxisLabels: #AAAAAA;
        --ColorAxisTitles: #888888;

        /* --volume-brushes: #DC3F76; */
        /* --volume-outlines: #DC3F76; */

        /* setting custom CSS properties for chart's title/subtitle */
        --title-text-style: 12px Verdana, arial, sans-serif;
        --title-text-color: var(--ColorAxisTitles);
        --title-top-margin: 5px;
        --subtitle-text-style: 12px Verdana, arial, sans-serif;
        --subtitle-text-color: var(--ColorAxisTitles);

        /* setting custom CSS properties for axes labels/titles */
        --x-axis-label-text-style: 12px Verdana, arial, sans-serif;
        --y-axis-label-text-style: 12px Verdana, arial, sans-serif;
        --x-axis-label-text-color: var(--ColorAxisLabels);
        --y-axis-label-text-color: var(--ColorAxisLabels);
        --x-axis-title-text-color: var(--ColorAxisTitles);
        --y-axis-title-text-color: var(--ColorAxisTitles);
        /* --x-axis-title-bottom-margin: 5; */
        /* --y-axis-title-left-margin: 5; */

        /* setting custom CSS properties for axes gridlines */
        --x-axis-major-stroke: var(--ColorAxisLines);
        --y-axis-major-stroke: var(--ColorAxisLines);
        --x-axis-major-stroke-thickness: 0;
        --y-axis-major-stroke-thickness: 1;
        --x-axis-stroke: var(--ColorAxisLines);
        --y-axis-stroke: var(--ColorAxisLines);
        --y-axis-stroke-thickness: 0;
        --x-axis-stroke-thickness: 1;

        /* setting custom CSS properties for axes tickmarks */
        --x-axis-tick-stroke: var(--ColorAxisLines);
        --y-axis-tick-stroke: var(--ColorAxisLines);
        --y-axis-tick-stroke-thickness: 1;
        --x-axis-tick-stroke-thickness: 1;
        --x-axis-tick-length: 7.5;
        --y-axis-tick-length: 0;

        /* setting regular CSS properties supported by chart */
        font-size: 12px;
        font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Verdana', Arial, sans-serif;
        background: #191919;
        background: #2e2e2e;

        height: 100%;
        width: 100%;
        margin: 5px;
        padding: 0px;
}

.financialChartZoomSlider {

    --Color_001: #FFFFFF;
    --Color_002: #1E1E1E;
    --Color_003: #333333;
    --Color_004: #AAAAAA;
    --Color_005: #444444;
    --Color_006: #888888;
    --Color_007: #212121;
    --Color_008: #272727;
    --Color_009: #1B1B1B;
    --Color_010: #4F4F4F;
    --Color_012: #777777;
    --Color_014: #2D2D2D;
    --Color_015: #3C3C3E;
    --Color_016: #DDDDDD;
    --Color_017: #666666;
    --Color_018: #191919;
    /* Whites with transparency */
    --Color_040: rgba(255, 255, 255, 0.9); /* 90% White */
    --Color_041: rgba(255, 255, 255, 0.75); /* 75% White */
    --Color_042: rgba(255, 255, 255, 0.6); /* 60% White */
    --Color_043: rgba(255, 255, 255, 0.45); /* 45% White */
    --Color_044: rgba(255, 255, 255, 0.3); /* 30% White */
    --Color_045: rgba(255, 255, 255, 0.06); /*  6% White */
    --Color_046: rgba(255, 255, 255, 0); /*  0% White */
    --Color_047: rgba(255, 255, 255, 0.15); /* 30% White */

    /* Blacks with transparency */
    --Color_050: rgba(0, 0, 0, 0.9); /*90% Black */
    --Color_051: rgba(0, 0, 0, 0.75); /*75% Black */
    --Color_052: rgba(0, 0, 0, 0.6); /*60% Black */
    --Color_053: rgba(0, 0, 0, 0.45); /*45% Black */
    --Color_054: rgba(0, 0, 0, 0.3); /*30% Black */
    --Color_055: rgba(0, 0, 0, 0.15); /*15% Black */
    --Color_056: rgba(0, 0, 0, 0.1); /*10% Black  */

    color: #FFFFFF;
    /* background: #FFFFFF00; */
    background: transparent;
    /* --bar-brush:   var(--Color_045);
    --bar-outline: var(--Color_045); */
    --bar-brush:   var(--Color_047);
    --bar-outline: var(--Color_047);
    /*
      --lower-shade-brush: var(--Color_045);
     --higher-shade-brush: var(--Color_045);
      --lower-shade-outline: var(--Color_045);
     --higher-shade-outline: var(--Color_045); */

     --lower-shade-brush: var(--Color_047);
    --higher-shade-brush: var(--Color_047);
     --lower-shade-outline: var(--Color_047);
    --higher-shade-outline: var(--Color_047);

     --lower-thumb-brush: var(--Color_003);
    --higher-thumb-brush: var(--Color_003);
     --lower-thumb-outline: var(--Color_003);
    --higher-thumb-outline: var(--Color_003);
     --lower-thumb-ridges-brush: var(--Color_004);
    --higher-thumb-ridges-brush: var(--Color_004);

     --lower-callout-brush: var(--Color_002);
    --higher-callout-brush: var(--Color_002);
     --lower-callout-outline: var(--Color_003);
    --higher-callout-outline: var(--Color_003);
     --lower-callout-textColor: var(--Color_004);
    --higher-callout-textColor: var(--Color_004);

    --range-thumb-brush:   var(--Color_003);
    --range-thumb-outline: var(--Color_008);
    --range-thumb-ridges-brush: var(--Color_004);
}

.ui-tooltip-container {
  background:  #1E1E1E !important;
  color: #AAAAAA !important;
}

.ig-tooltip-container {
  background:  #1E1E1E !important;
  color: #AAAAAA !important;
}