<div class="main" igxLayout [class.light-theme]="!darkTheme" [class.dark-theme]="darkTheme">
    <igx-nav-drawer id="navigation" [isOpen]="false" [pin]="false">
        <ng-template igxDrawer>
            <nav>
                <span igxDrawerItem [isHeader]="true" >FDC3 ViewSector</span>
                <span *ngFor="let name of sectorNames"
                    igxDrawerItem [active]="name === selected"
                    igxRipple (click)="ViewSector(name)">
                    <igx-icon fontSet="material">poll</igx-icon>
                    <span>{{ name }}</span>
                </span>
             </nav>
        </ng-template>

    </igx-nav-drawer>

    <main igxFlex >
      <igx-navbar [title]="title" actionButtonIcon="menu" [isActionButtonVisible]="true" >

        <button class="button" igxButton="raised"
        [igxToggleAction]="dropdown" igxButtonBackground="transparent"
        [igxToggleOutlet]="outlet"
        [igxDropDownItemNavigation]="dropdown">Layout
        </button>
        <igx-drop-down #dropdown (onSelection)="onLayoutChange($event)">
            <igx-drop-down-item *ngFor="let opt of layoutOptions" [value]="opt.value">{{ opt.text }}</igx-drop-down-item>
        </igx-drop-down>
        <div igxOverlayOutlet #outlet="overlay-outlet"></div>

        <button igxButton="icon" (click)="themeChange()"><igx-icon>palette</igx-icon></button>

       <igx-navbar-action><igx-icon (click)="drawerToggle()">menu</igx-icon></igx-navbar-action>
    </igx-navbar>

        <div class="treemap">
            <igx-treemap #treemap
                height="100%"
                width="100%"
                parentIdMemberPath="parent"
                idMemberPath="id"
                labelMemberPath="name"
                valueMemberPath="marketCap"
                customMemberPath="id"
                transitionDuration="500"
                rootTitle="Financial Sector"
                fillScaleMode="Value"
                fillBrushes="#fa4d6a #8a58d6"
                isFillScaleLogarithmic="true"
                [layoutType]="layoutSelected"
                layoutOrientation="Horizontal"

                headerBackground="#E0F11F"
                headerHoverBackground="#28E124"
                headerDisplayMode="Overlay"
                outline="white"
                strokeThickness="1"
                parentNodeLeftMargin="1"
                parentNodeLeftPadding="0"
                parentNodeRightMargin="1"
                parentNodeRightPadding="0"
                parentNodeTopMargin="1"
                parentNodeTopPadding="0"
                parentNodeBottomMargin="1"
                parentNodeBottomPadding="0">
            </igx-treemap>
            <!-- headerBackground="#E0F11F" -->
            <!-- headerHoverBackground="#28E124" -->
        </div>
    </main>
  </div>


