
.treemap {
    width: 100%;
    height: 100%;
    // height: calc(100% - 80px);
    padding: 0.0rem;
    // padding-top: 1.5rem;
    background: #4e62cf;
    background: #4e62cf;
    background: #8a58d6;
    background: #fa4d6a;
    background: #f69904;
    background: #18bd02;
    background: transparent;
}
