<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/react-apps/stock-market-chart" />
          <!-- <action type="Rewrite" url="/index.html" /> -->
          <!-- <action type="Rewrite" url="/" /> -->
        </rule>
      	<!-- <rule name="React Root Redirect" enabled="true" stopProcessing="true">
          <match url="^/?$" />
          <action type="Redirect" url="/products/ignite-ui-react/getting-started" redirectType="Permanent" />
    	  </rule> -->
      </rules>
    </rewrite>
	<staticContent>
		<remove fileExtension=".json" />
		<mimeMap fileExtension=".json" mimeType="application/json;charset=UTF-8;" />
	</staticContent>
  </system.webServer>
</configuration>