<div class="window">
    <div class="title">Select Infragistics FDC3 app </div>
    <div class="window-toolbar">
      <span (click)="OpenChart()" igxButton="raised" class="button"   igxRipple="gray" igxButtonBackground="#119dfa" >
          ViewChart
      </span>
      <span (click)="OpenGridInstruments()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="yellowgreen">
          ViewInstrument
      </span>
      <span (click)="OpenGridPositions()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="orange">
          ViewPosition
      </span>

      <span (click)="OpenExplorer()" igxButton="raised" class="button"   igxRipple="gray" igxButtonBackground="lightgray">
          Explorer
      </span>
    </div>
  </div>

  <!-- <a class="video videoInstall" href="https://youtu.be/lsEY90yYQIs" target="_blank">
    <img src="../../assets/images/home/Play.svg" />
</a>
  -->
