<div class="window">
    <div class="title">Select Infragistics FDC3 application view </div>
    <div class="window-toolbar">
        <span (click)="OnClickViewChart()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="#5d9ef3" >
            ViewChart
        </span>
        <span (click)="OnClickViewSector()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="#c27bfb" >
            ViewSector
        </span>
        <span (click)="OnClickViewInstruments()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="yellowgreen">
            ViewInstrument
        </span>
        <span (click)="OnClickViewPositions()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="orange">
            ViewPosition
        </span>

        <span (click)="OnClickOpenExplorer()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="lightgray">
            Explorer
        </span>
        <span (click)="OnClickNotify()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="#fb3e3e">
            Notify
        </span>
    </div>
  </div>

  <!-- <a class="video videoInstall" href="https://youtu.be/lsEY90yYQIs" target="_blank">
    <img src="../../assets/images/home/Play.svg" />
</a>
  -->
