html {
  width: 100%;
  height: 100%;
  /* background: #fa2d2d; */
  /* background: green; */
  /* background: white; */
  background: #000000;
  flex-flow: column;
  justify-content: stretch;
  display: flex;
}

body {
  flex-flow: column;
  justify-content: stretch;
  display: flex;

  width: 100%;
  height: 100%;
  /* background: white; */
  /* background: #1E1E1E; */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Verdana', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  Arial, sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */

  /* --color_0202: #a76cff6b;
  --color_020:  #a76cff;
  --color_021: #c4dd35;
  --color_022: #f96232;
  --color_023: #3cbdc9;
  --color_024: #dc3f76;
  --color_025: #ff9800;
  --color_026: #6178f8;
  --color_027: #54c25a;
  --color_029: #aaaaaa; */
}

.chartWindow {
  /* background: lightgray; */
  height: calc(100% - 1rem);
  width:  calc(100% - 1rem);
  padding: 0.5rem;
  margin: 0px;
  /* overflow: hidden; */
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.chartContainer {
  width:  100%;
  height: 100%;
  padding: 0px;
  /* background: lightgray; */
}

.openfinNote {
  color: black;
  background: gray;
  border-radius: 5px;
  padding: 0.5rem;
  width:  calc(100% - 2rem);
  /* width:  100%; */
  /* padding: 1rem; */
  /* margin: 1rem; */
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;

  /* disable text selection */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  -o-user-select:none;
}

.buttonContainer {
  width:  calc(100% - 2rem);
  margin-right:  1rem;
  /* margin-left:   1rem; */
  display: flex;
  flex-flow: row;

  justify-content: flex-start;
  vertical-align: bottom;
  align-content: center;
  align-items: center;
  align-content: center;

  /* disable text selection */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  -o-user-select:none;
}

.buttonViewStocks {
  background: #5ba2fd;
  color: black;
  height: 1rem;
  width: 145px;
  padding: 0.5rem;
  /* padding-top: 1rem; */
  margin-top: 8px;
  margin-right: 8px;
  font: 13px Verdana;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.buttonViewMultiple {
  background: rgb(138, 88, 214);
  color: black;
  height: 1rem;
  width: 150px;
  padding: 0.5rem;
  /* padding-top: 1rem; */
  margin-top: 8px;
  margin-right: 8px;
  font: 13px Verdana;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.buttonClearChart {
  color: black;
  background: #2cd448;
  height: 1rem;
  width: 100px;
  padding: 0.5rem;
  /* padding-top: 1rem; */
  margin-top: 8px;
  margin-right: 8px;
  font: 13px Verdana;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.buttonClearEvents {
  color: black;
  background: #2cd448;
  height: 1rem;
  width: 100px;
  padding: 0.5rem;
  /* padding-top: 1rem; */
  margin-top: 8px;
  margin-right: 8px;
  font: 13px Verdana;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.eventsTitle {
  /* background: rgba(49, 49, 49, 0.75); */
  color: #bebebe;
  padding: 5px;
}

.eventsContainer {
  background: rgba(49, 49, 49, 0.75);
  color: #bebebe;
  height: calc(100% - 1rem);
  width:  calc(100% - 1rem);
  padding: 0.5rem;
  margin: 0px;
  font: 14px "Consolas";
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(46, 45, 45, 0.692);
	border-radius: 3px;
	background-color: #5a5a5a;
}
::-webkit-scrollbar
{
	width: 8px;
	background-color: #5a5a5a;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a3a1a1;
}

