<div class="window">
    <div class="window-title" id="openfinNote"></div>
    <div class="window-toolbar">
        <span style="background: #5d9ef3;" class="app-button" (click)="OnClickViewChart()" >ViewChart</span>
        <!-- <span style="background: #c27bfb;" class="app-button" (click)="OnClickViewSector()">ViewSector</span> -->
        <!-- <span style="background: #9acd32;" class="app-button" (click)="OnClickViewInstruments()">ViewInstrument</span> -->
        <span style="background: #fba402;" class="app-button" (click)="OnClickViewPositions()">ViewPosition</span>
        <span style="background: #afafaf;" class="app-button" (click)="OnClickOpenExplorer()">Explorer</span>
        <!-- <span style="background: #fb3e3e;" class="app-button" (click)="OnClickNotify()">Notify</span> -->

        <!-- TODO uncomment when harmer gesture is fixed:

        <span (click)="OnClickViewChart()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="#5d9ef3" >
            ViewChart
        </span>
        <span (click)="OnClickViewSector()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="#c27bfb" >
            ViewSector
        </span>
        <span (click)="OnClickViewInstruments()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="yellowgreen">
            ViewInstrument
        </span>
        <span (click)="OnClickViewPositions()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="orange">
            ViewPosition
        </span>
        <span (click)="OnClickOpenExplorer()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="lightgray">
            Explorer
        </span>
        <span (click)="OnClickNotify()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="#fb3e3e">
            Notify
        </span> -->

    </div>

    <div id="openfinNote"></div>
</div>

