<div class="explorer-root">

    <div class="explorer-history">
        <span >FDC3 Message History:</span>
        <div #messageHistory class="explorer-info"></div>
    </div>

    <div class="explorer-rows">

        <div class="explorer-actions">
            <span >FDC3 ViewChart</span>
            <div *ngFor="let item of stockItems"
                (click)="ViewChart(item.symbol)"   >
                <div>
                    <span class="button" igxButton="raised" igxButtonBackground="dodgerblue">
                        <span class="button-text">{{ item.symbol }}</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="explorer-actions">
            <span >FDC3 ViewInstrument</span>
            <div *ngFor="let item of stockItems"
                (click)="ViewInstrument(item.symbol)">
                <div>
                    <span class="button" igxButton="raised" igxButtonBackground="yellowgreen">
                        <span class="button-text">{{ item.symbol }}</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="explorer-actions">
            <span >FDC3 ViewPosition</span>
            <div *ngFor="let item of stockItems"
                (click)="ViewPosition(item.symbol)">
                <div>
                    <span class="button" igxButton="raised" igxButtonBackground="orange">
                        <span class="button-text">{{ item.symbol }}</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="explorer-actions">
            <span >FDC3 ViewPosition</span>
            <div *ngFor="let item of sectorNames"
                (click)="ViewSector(item)">
                <div>
                    <span class="button" igxButton="raised" igxButtonBackground="#c27bfb">
                        <span class="button-text">{{ item }}</span>
                    </span>
                </div>
            </div>
        </div>


        <div class="explorer-actions">
            <span > </span>
            <span (click)="ClearHistory()" igxButton="raised" class="button" igxRipple="gray" igxButtonBackground="lightgray">
                Clear History
            </span>
        </div>
    </div>


</div>




