.explorer-root {
    // background: gray;
    height: 100%;
    width: 100%;
    padding: 1rem;
    margin: 0rem;
    display: flex;
    flex-flow: row;

    /* overflow: hidden; */
    // justify-content: center;
}

.explorer-rows {
    // background: gray;
    height: 100%;
    // width: 40%;
    width: auto;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-flow: column;
}

.explorer-actions {
    // background: rgb(251, 178, 178);
    height: 30%;
    width: 100%;
    padding: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;

    /* overflow: hidden; */
    justify-content: center;
}

.explorer-history {
    // background: rgb(251, 178, 178);
    height: calc(100% - 2rem);
    width: 100%;
    // width: 60%;
    padding-left: 1rem;
    /* overflow: hidden; */
    justify-content: center;
}

.explorer-info {
  background: rgba(218, 218, 218, 0.75);
//   color: #bebebe;
  height: calc(100% - 1rem);
  width:  calc(100% - 1rem);
  padding: 0.5rem;
  margin: 0px;
  font: 14px "Consolas";
  overflow-y: visible;
  overflow-x: hidden;
  white-space: pre;
}

.button {
    // margin-left: 1rem;
    margin-bottom: 0.5rem;
    width: 160px;
    color: black;
}

.button-text {
    margin-left: 1rem;
    color: black;
}

