<div class="main" igxLayout [class.light-theme]="!darkTheme" [class.dark-theme]="darkTheme">
    <igx-nav-drawer id="navigation" [isOpen]="false"
    [pin]="false">
        <ng-template igxDrawer>
            <nav>
                <span igxDrawerItem [isHeader]="true" >FDC3 ViewChart</span>
                <span *ngFor="let item of viewSingleCharts"
                    igxDrawerItem [active]="item.text === selected"
                    igxRipple (click)="ViewChart(item)">
                    <igx-icon fontSet="material">poll</igx-icon>
                    <span>{{ item.symbol }}</span>
                </span>

                <span igxDrawerItem [isHeader]="true">FDC3 ViewChart</span>
                <span *ngFor="let item of viewMultipleCharts"
                    igxDrawerItem [active]="item.text === selected"
                    igxRipple (click)="ViewMultiple(item)">
                    <igx-icon fontSet="material">poll</igx-icon>
                    <span>{{ item.text }}</span>
                </span>
             </nav>
        </ng-template>
    </igx-nav-drawer>

    <main igxFlex >
        <igx-navbar [title]="title" actionButtonIcon="menu" [isActionButtonVisible]="true" >
            <!-- <button igxButton="icon" (click)="themeChange()">
                <igx-icon>palette</igx-icon>
            </button> -->
            <igx-navbar-action>
                <igx-icon (click)="drawerToggle()">menu</igx-icon>
            </igx-navbar-action>
        </igx-navbar>

        <div class="chart">
            <igx-financial-chart #chart
              [dataSource]="dataSource"
              height="100%" width="100%"
              chartType="Candle"
              zoomSliderType="Candle"
              subtitle=""
              subtitleTopMargin="10"
              isWindowSyncedToVisibleRange="true">
            </igx-financial-chart>
        </div>

    </main>
  </div>


