<div class="main" igxLayout>
    <igx-nav-drawer id="navigation" [isOpen]="false" [pin]="false">
        <ng-template igxDrawer>
            <nav>
                <span igxDrawerItem [isHeader]="true" >FDC3 ViewInstrument</span>
                <span *ngFor="let item of viewInstrumentItems"
                    igxDrawerItem [active]="item.symbol === selected"
                    igxRipple (click)="ViewInstrument(item.symbol)">
                    <igx-icon fontSet="material">poll</igx-icon>
                    <span>{{ item.symbol }}</span>
                </span>

             </nav>
        </ng-template>

    </igx-nav-drawer>

    <main igxFlex >
        <igx-navbar title="IG Grid with FDC3 ViewInstrument Intent" actionButtonIcon="menu"
        [isActionButtonVisible]="true" (click)="drawerToggle()" >
        </igx-navbar>

        <igx-grid #grid class="grid"
          [autoGenerate]="false"
          [paging]="false"
          height="100%"
          width="100%">

          <igx-column field="ID" [dataType]="'number'" sortable="true"></igx-column>
          <igx-column field="Symbol" [dataType]="'string'" sortable="false"></igx-column>
          <!-- <igx-column field="Volume" [dataType]="'number'" sortable="true"></igx-column> -->
          <igx-column field="Close" [dataType]="'number'" sortable="true" header="Price" ></igx-column>
          <!-- <igx-column field="Year" [dataType]="'string'" sortable="true"></igx-column> -->
          <!-- <igx-column field="Month" [dataType]="'string'" sortable="true"></igx-column> -->
          <igx-column field="Date" [dataType]="'string'" sortable="true"></igx-column>
          <igx-column field="Time" [dataType]="'string'" sortable="true"></igx-column>
          <!-- <igx-column field="Open" [dataType]="'number'" sortable="true"></igx-column> -->

        </igx-grid>

    </main>
  </div>


